.cmt-side{
  display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: baseline;
}

.input-side{
  display: flex;
    flex: 1;
    padding: 0.5rem;
}

.input-cmt{
  flex: 1;
    border: none;
}

.modal-content{
  max-height: 90vh;
  overflow: overlay;
}

label {
  font-weight: bold;
}
.error-feedback {
  color: red;
}




